
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-color: bisque;
}

img{    
    width: 300px;

    border-radius: 25px;
}

#frase{
    font-size: 20px;
    padding-top: 75px;
    border-top: 70px;
    padding-left: 5px;
    color: crimson;
}
